/build/
/dist/
Cargo.lock
/target/
.hypothesis/unicode_data/14.0.0/charmap.json.gz
/ghidra/
targets/x86_64/iso/boot/kernel.bin
ldlog.txt
doom1.wad
**/a.out
qemu.log
/userland/bash/
/userland/dash/
userland/usr/libc.a
userland/usr/libc.o
userland/usr/lib/*.a
userland/usr/doom/PureDOOM.h
storage/disk.img
test/uv.lock
test/__pycache__/
test/serial.log
serial.log
tools/perf/FlameGraph/
tools/perf/stacks.txt
tools/perf/stacks.svg
tools/perf/stacks.folded
userland/src/doom/PureDOOM.h
tools/perf/output.png
tools/perf/stacks.png
tools/perf/chrome_trace.json
tools/perf/cachegrind.out
tools/perf/profile.proto
tools/perf/output.pb.gz
tools/perf/__pycache__/